/*-- default -------------------------------------------------------*/

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%;
}
body {
	font-size: 0.875em /* 14px / 16px */;
}

a:link,
a:visited {
	color: #036;
	text-decoration: none;
}
a:hover,
a:active {
	color: #C30;
	text-decoration: underline;
}
fieldset, img {
	border-style: none;
}
address, caption, cite, code, dfn, em, strong, th, var {
	font-style: normal;
	font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}
q:before, q:after {
	content: '';
}
abbr, acronym {
	border-style: none;
}

ol, ul {
	margin: 0 0 0 1.25em;
	padding: 0;
}
ol {
	list-style-type: decimal;
}
li, p {
	margin: 0;
	padding: 0.5em 0 0 0;
}
blockquote {
	margin: 0;
	padding: 0.2em 2em;
}

ul {
	list-style-type: square;
}
abbr, acronym {
	cursor: help;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption, th {
	text-align: left;
}
td, th {
	font-size: 1em;
    padding-left: 2px;
    padding-right: 2px;
}
hr {
	height: 1px;
	background-color: #000;
	color: #000;
}

/*-- resume -------------------------------------------------------*/

body, td, th, input, select, textarea {
	font-family: "Computer Modern Serif", cmu_serifroman, Palatino, Georgia, Garamond, "Times New Roman", Times, serif;
}
body {
	background-color: #DAD9D6;
	padding: 3.0em 0;
}
h3 {
	margin: 0;
}

.Resume,
.BadgeArea {
	margin: auto;
	overflow: hidden;
	width: 1337px;
}
.BadgeArea {
	padding: 2em 0;
}
.BadgeList {
	display: none;
	float: left;
	margin: 0;
	padding: 0;
}
.BadgeList li {
	display: block;
	float: left;
	padding-right: 1em;
}
.Resume {
	border: solid 1px #666;
	border-bottom-width: 5px;
	border-top-width: 8px;
	background-color: #FFF;
	padding: 3em 4em;

	-moz-box-shadow: 0 0 8px #A8A091;
	-webkit-box-shadow: 0 0 8px #A8A091;
	box-shadow: 0 0 8px #A8A091;
}

.ContactInfo .PersonName,
.Qualifications,
.EducationHistory,
.EmploymentHistory {
	color: #333;
	clear: both;
	font-variant: small-caps;
}
.Qualifications,
.EducationHistory,
.EmploymentHistory,
.Projects .ProjectsHeader {
	text-align: right;
}
.Qualifications,
.EducationHistory,
.EmploymentHistory {
	font-size: 1.25em /* 21px / 14px */;
	margin: 0.25em 0 0.25em 0;
	border-bottom: solid 1px silver;
}
.CustomEmploymentHistory {
	margin-top: 1.25em;
}
.EmployerOrg .EmployerOrgName,
.Degree .DegreeName,
.Degree .Name {
	font-size: 1.25em /* 18px / 14px */;
	font-weight: bold;
}
.EmployerOrg h3 .PostalAddress {
	font-weight: normal;
}
.EmployerOrg h3 .PostalAddress:before {
	content: ',';
}
.EmployerOrg h3 .Municipality {
	margin-left: 0.25em;
}

.EmployerOrg {
	border-top: 1px solid #F1F1F1;
	margin-top: .5em;
	padding: .5em 0 0 0;
}
.EmployerOrg:first-child,
.EmployerOrg-Section {
	border-top-style: none;
	margin-top: 0;
}
.Qualifications .Competency1 {
	padding-bottom: 1em;
}
.ua-ie-4 .Qualifications,
.ua-ie-5 .Qualifications,
.ua-ie-6 .Qualifications,
.ua-ie-4 .EducationHistory,
.ua-ie-5 .EducationHistory,
.ua-ie-6 .EducationHistory,
.ua-ie-4 .EmploymentHistory,
.ua-ie-5 .EmploymentHistory,
.ua-ie-6 .EmploymentHistory,
.ua-ie-4 .ContactInfo,
.ua-ie-5 .ContactInfo,
.ua-ie-6 .ContactInfo {
	width: 95%;/* Helps with IE flicker */
}

.ContactInfo {
	height: 10em;
}
.ContactInfo .NameHeader {
	float: left;
	padding-left: 1em;
}
.ua-webkit .ContactInfo .NameHeader {
	padding-left: 2em;
}
.ContactInfo .PersonName {
	font-size: 4em;
	font-weight: normal;
	line-height: 1em;
	margin: 0;
	padding: 0;
}
.ContactInfo .Objective {
	clear: both;
	text-align: right;
	font-size: 1.71428571428571em /* 24px / 14px */;
	margin: 0;
	padding: 0;
	font-style: italic;
	font-variant: small-caps;
}
.ContactInfo .ContactMethod {
	float: right;
	line-height: 1.5em;
	/*padding: 1.125em 1em 0 0;*/
}
.ua-webkit .ContactInfo .ContactMethod {
	padding: 1.125em 2em 0 0;
}

.ExecutiveSummary {
	padding: 1em 5em 0 5em;
	border-top: solid 1px silver;
	font-style: italic;
	line-height: 1.5em;
	text-align: justify;
}

.CoverLetter {
	padding: 1em 5em 0 5em;
	border-top: solid 1px silver;
	font-style: normal;
	line-height: 1.5em;
	text-align: justify;
}

.Degree {
	margin: 1em 0;
}
.Degree .EducationalMeasure {
	color: #333;
	font-weight: normal;
}

ul.QualificationList {
	overflow: hidden;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.Qualifications ul.CompetencyList {
	list-style-type: square;
	margin: 0 0 0 15pt;
	padding: 0;
}
li.Competency1 {
	vertical-align: top;
	display: block;
	float: left;
	width: 23%;
	padding: 0;
	margin: 0;
}
li.Competency1:first-child {
	width: 25%;
}
.CompetencyName1 {
	cursor: help;
	display: inline-block;
	color: #333;
	font-style: italic;
	font-size: 1.2em;
	font-weight: normal;
	margin: 0.5em 0;
}
ul.Qualifications ul {
	padding-left: 2em;
}

.PositionHistory {
	padding: 0.75em 0 0.25em 2em;
}
.ProjectHistory .Project {
	padding: 0.375em 0 0.25em 2em;
}
.PositionHistory .Title,
.ProjectHistory .Project .Name {
	font-weight: bold;
}
.PositionHistory .Title a,
.ProjectHistory .Project .Name a {
	font-weight: normal;
}
.ProjectHistory .Project .projectType,
.organizationType {
	font-style: italic;
}
.EmployerDates,
.PositionDates,
.ProjectDates,
.DegreeDate {
	color: #666;
	float: right;
	font-style: italic;
}
.EmployerDates,
.DegreeDate {
	font-size: 1.2em;
	font-weight: normal;
}
code,
.RevisionDate {
	font-family: 'Courier New', Courier, monospace;
}
.RevisionDate {
	color: #999;
	float: right;
}

.BadgeList li {
	display: block;
	float: left;
}
.BadgeArea a {
	float: left;
	opacity: 0.5;
}
.BadgeArea a:hover,
.BadgeArea a:active {
	opacity: 1.0;
}

.qualification-table {
    width: 100%;
    margin-top: 5px;
    text-align: left;
}

.qualification-row {
    width: 100%;
    margin: 0 auto;
    text-align: left;
}

.qualification-cell {
    margin: 0 auto;
    /*width: 36px;*/
    text-align: left;
}

.qualification-sub-table {
    width: 100%;
    margin: 0 auto;
    text-align: left;
}

.qualification-sub-row {
    width: 100%;
    margin: 0 auto;
    text-align: left;
}

.qualification-sub-cell-icon {
    width: 100%;
    margin: 0 auto;
    font-size: 3em;
    color: #164f65;
    text-align: left;
}

.qualification-sub-cell-name {
    width: 100%;
    margin: 0 auto;
    text-align: left;
}

/*-- print -------------------------------------------------------*/

.ContactInfo,
.ExecutiveSummary,
.Degree,
.PositionHistory,
.QualificationList {
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	-o-column-break-inside: avoid;
	-ms-column-break-inside: avoid;
	column-break-inside: avoid;
	page-break-inside: avoid;
}

@media print {
	body {
		background-color: #FFF;
		font-size: 8pt;
		margin: 0;
		padding: 0;
		width: auto;
	}
	.Resume {
		margin: auto;
		width: 1337px;
        border: none;
	}
}
