<!DOCTYPE html>
<html lang="{{request.locale_name}}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pyramid Resume Default Template</title>

    <link href="{{request.static_url('pyramid_resume_template_default:static/favicon_io/favicon.ico')}}" rel="shortcut icon">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Monoton|Anton|Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
          rel="stylesheet">
    <link href="{{request.static_url('pyramid_resume_template_default:static/vendor/icomoon/style.css')}}" rel="stylesheet" type="text/css">
    <!-- Custom Fonts -->
    <link href="{{request.static_url('pyramid_resume_template_default:static/vendor/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/solid.css"
          integrity="sha384-wnAC7ln+XN0UKdcPvJvtqIH3jOjs9pnKnq9qX68ImXvOGz2JuFoEiCjT8jyZQX2z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/brands.css"
          integrity="sha384-nT8r1Kzllf71iZl81CdFzObMsaLOhqBU1JD2+XoAALbdtWaXDOlWOZTR4v1ktjPE" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css"
          integrity="sha384-HbmWTHay9psM8qyzEKPc8odH4DsOuzdejtnr+OFtDmOcIVnhgReQ4GZBH7uwcjf6" crossorigin="anonymous">
    <link href="{{request.static_url('pyramid_resume_template_default:static/vendor/icomoon/style.css')}}" rel="stylesheet" type="text/css">

{#    <!-- Theme CSS -->#}
{#    <link href="{{request.static_url('pyramid_resume_template_default:static/css/creative.css')}}?v=1.0.2" rel="stylesheet">#}
{#    <link href="{{request.static_url('pyramid_resume_template_default:static/css/theme.css')}}?v=1.0.4" rel="stylesheet">#}
{#    <link href="{{request.static_url('pyramid_resume_template_default:static/css/resume.css')}}" rel="stylesheet">#}

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i"
          rel="stylesheet">
    <link href="{{request.static_url('pyramid_resume_template_default:static/css/theme.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
    <link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />
  </head>

  <body>
{% block content %}
    <p>No content</p>
{% endblock content %}
  </body>
</html>
