{% extends "layout.jinja2" %}
{% block content %}
    <div class="Resume">
    {% include 'heading.jinja2' %}
    {% include 'qualifications.jinja2' %}
    {% include 'details.jinja2' %}
    </div>
{% endblock %}
